@model ValueTechNz.Models.ViewModels.ProductViewModel

@{
    var product = Model.Product;
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center">New Product</h2>

        <form method="post" enctype="multipart/form-data">
            <label asp-for="@product.ProductId"></label>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="@product.ProductName"></label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="@product.ProductName" />
                    <span asp-validation-for="@product.ProductName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="@product.Brand"></label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="@product.Brand" />
                    <span asp-validation-for="@product.Brand" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="@product.CategoryName"></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="@product.CategoryId">
                        <option value="" >Select a Category</option>
                        @foreach(var item in Model.CategoryList)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="@product.Description"></label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="@product.Description"></textarea>
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="@product.ImageFile"></label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="@product.ImageFile" />
                    <span asp-validation-for="@product.ImageFile"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-secondary" asp-controller="Products" asp-action="Products">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>