@model List<ValueTechNz.Models.Dto.GetProductsDto>

@{
    ViewData["Title"] = "Product List";
}

<partial name="_Notification" />

<h2 class="text-center mb-5">@ViewData["Title"]</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="AddProduct">New Product</a>
    </div>
    <div class="col">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>DateAdded</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="">
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Brand </td>
                <td>@item.CategoryName</td>
                <td>@item.Price</td>
                <td><img src="/img/@item.ImageFileName" width="100"></td>
                <td>@item.DateAdded.ToString("MM/dd/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="UpdateProduct" asp-route-id="@item.ProductId">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="DeleteProduct" asp-route-id="@item.ProductId" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.AntiForgeryToken()


<script src="~/js/products.js"></script>