@using ValueTechNz.Helpers
@model PaginatedList<ValueTechNz.Models.Dto.GetProductsDto>
@{
    ViewData["Title"] = "Product List";
    var currentSort = Context.Request.Query["sortColumn"].ToString();
    var currentOrder = Context.Request.Query["sortOrder"].ToString();
}

<partial name="_Notification" />

<h2 class="text-center mb-5">@ViewData["Title"]</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="AddProduct">New Product</a>
    </div>
    <div class="col-4">
        <form role="search" class="d-flex">
            <input type="search" name="search" class="form-control me-3" placeholder="Search" />
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Products"
                   asp-route-sortColumn="id"
                   asp-route-sortOrder="@(currentSort == "id" && currentOrder == "asc" ? "desc" : "asc")"
                   asp-route-search="@ViewData["CurrentSearch"]"
                   class="text-dark text-decoration-none">
                    ID
                    @if (currentSort == "id")
                    {
                        <i class="bi @(currentOrder == "desc" ? "bi-sort-up" : "bi-sort-down")"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-down-up small"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Products"
                   asp-route-sortColumn="name"
                   asp-route-sortOrder="@(currentSort == "name" && currentOrder == "asc" ? "desc" : "asc")"
                   asp-route-search="@ViewData["CurrentSearch"]"
                   class="text-dark text-decoration-none">
                    Name
                    @if (currentSort == "name")
                    {
                        <i class="bi @(currentOrder == "desc" ? "bi-sort-up" : "bi-sort-down")"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-down-up small"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Products"
                   asp-route-sortColumn="brand"
                   asp-route-sortOrder="@(currentSort == "brand" && currentOrder == "asc" ? "desc" : "asc")"
                   asp-route-search="@ViewData["CurrentSearch"]"
                   class="text-dark text-decoration-none">
                    Brand
                    @if (currentSort == "brand")
                    {
                        <i class="bi @(currentOrder == "desc" ? "bi-sort-up" : "bi-sort-down")"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-down-up small"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Products"
                   asp-route-sortColumn="category"
                   asp-route-sortOrder="@(currentSort == "category" && currentOrder == "asc" ? "desc" : "asc")"
                   asp-route-search="@ViewData["CurrentSearch"]"
                   class="text-dark text-decoration-none">
                    Category
                    @if (currentSort == "category")
                    {
                        <i class="bi @(currentOrder == "desc" ? "bi-sort-up" : "bi-sort-down")"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-down-up small"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Products"
                   asp-route-sortColumn="price"
                   asp-route-sortOrder="@(currentSort == "price" && currentOrder == "asc" ? "desc" : "asc")"
                   asp-route-search="@ViewData["CurrentSearch"]"
                   class="text-dark text-decoration-none">
                    Price
                    @if (currentSort == "price")
                    {
                        <i class="bi @(currentOrder == "desc" ? "bi-sort-up" : "bi-sort-down")"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-down-up small"></i>
                    }
                </a>
            </th>
            <th>Image</th>
            <th>
                <a asp-action="Products"
                   asp-route-sortColumn="dateadded"
                   asp-route-sortOrder="@(currentSort == "dateadded" && currentOrder == "asc" ? "desc" : "asc")"
                   asp-route-search="@ViewData["CurrentSearch"]"
                   class="text-dark text-decoration-none">
                    Date Added
                    @if (currentSort == "dateadded")
                    {
                        <i class="bi @(currentOrder == "desc" ? "bi-sort-up" : "bi-sort-down")"></i>
                    }
                    else
                    {
                        <i class="bi-sort-down"></i>
                    }
                </a>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="">
        @if(Model == null || Model.Items.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="8">No Products Available</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Brand </td>
                    <td>@item.CategoryName</td>
                    <td>@item.Price</td>
                    <td><img src="/img/@item.ImageFileName" width="100"></td>
                    <td>@item.DateAdded.ToString("MM/dd/yyyy")</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="UpdateProduct" asp-route-id="@item.ProductId">Edit</a>
                        <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="DeleteProduct" asp-route-id="@item.ProductId" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<partial name="_Pagination" />

<script src="~/js/products.js"></script>